section.profile-cards
	.profile-card
		img(src="pic/pexels-pixabay-1.jpg", alt="alt")
		.icon-plus
			i.bi.bi-plus-lg
		a(href="#", title="Youtube").icon-social 
			i.bi.bi-youtube
		a(href="#", title="Twitter").icon-social 
			i.bi.bi-twitter-x
		a(href="#", title="Instagramm").icon-social 
			i.bi.bi-instagram
	.profile-card
		img(src="pic/pexels-pixabay-2.jpg", alt="alt")
		.icon-plus
			i.bi.bi-plus-lg
		a(href="#", title="Youtube").icon-social 
			i.bi.bi-youtube
		a(href="#", title="Twitter").icon-social 
			i.bi.bi-twitter-x
		a(href="#", title="Instagramm").icon-social 
			i.bi.bi-instagram
	.profile-card
		img(src="pic/pexels-pixabay-3.jpg", alt="alt")
		.icon-plus
			i.bi.bi-plus-lg
		a(href="#", title="Youtube").icon-social 
			i.bi.bi-youtube
		a(href="#", title="Twitter").icon-social 
			i.bi.bi-twitter-x
		a(href="#", title="Instagramm").icon-social 
			i.bi.bi-instagram